
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    color: #fff;
}
body{
    background-color: #0f0f20;
}
.main-div{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.menuToggle{
    position: absolute;
    bottom: 30px;
    height: 70px;
    width: 70px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px #000;
    border-radius: 50%;
    cursor: pointer;
}
.menuToggle i{
    font-size: 50px;
    color: #0f0f20;
}
.container{
    height: 550px;
    width: 390px;
    border:3px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    background: #fff;
    overflow: hidden;
    position: relative;
    /* display: none; */

}



.container .top-part{
    height: 100px;
    background: #0f0f20;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 20px 20px 0 0;
}
.menuToggle.active ~ .container{

}
.top-part .agent-details{
    display: flex;
    align-items: center;
}
.container .top-part .agent-details img{
    height: 70px;
    border: 2px solid #fff;
    border-radius: 50%;
    background: #fff;
}
.top-part .agent-text{
    margin-left: 10px;
}
.agent-text h3 {
    font-size: 15px;
}
.agent-text p {
    font-size: 11px;
}
.agent-text span {
    color: #0f0;
}
.chart-section{
    position: relative;
    padding: 0 20px;
}
.left-part{
    margin: 60px 0;
    max-width: 260px;
}
.agent-chart{
    display: flex;
    align-items: center;
}
.left-part img{
    height: 40px;
    background:#0f0f20;
    border-radius: 50%;
    border: 2px solid #023000;
}
.left-part p{
    color: #555;
    font-weight: 400;
    font-size: 14px;
    background: rgba(0,0,0,.1);
    border-radius: 10px;
    padding: 10px;
    margin-left: 10px;
}
.chart-section .right-part{
    margin: -50px 0;
    text-align: right;
    max-width: 260px 0;
    float: right;
    margin-bottom: 10px;
    font-size: 14px;
}
.chart-section .right-part p {
    color: #fff;
    background: #0f0f20;
    padding: 8px 24px;
    border-radius: 10px;
    
}
.chart-section .right-part span {
    color: #555;
    font-size: 11px;
    font-weight: 500;
}
.bottom-section{
    position: absolute;
    bottom: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    border-top:2px solid  rgba(0,0,0,.1);
    /* background:#ffffff; */

}
.bottom-section i{
    color: #0f0f20;
    font-size: 30px;
}
.bottom-section textarea{
    height: 40px;
    width: 80%;
    color: #0f0f20;
    padding: 0 5px;
    resize: none;
    outline: none;
    border: none;
    text-transform: capitalize;
    overflow-y: hidden;
}