
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    color: #fff;
}
body{
    background-color: #ffffff;
    
}
.main-div{
    display: flex;
    justify-content: right;
    align-items: center;
    min-height: 100vh;
}

.menuToggle{
    position: absolute;
    right: 15px;
    bottom: 15px;
    height: 60px;
    width: 60px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 6px 1px rgb(82 82 82 / 10%);
    border-radius: 50%;
    cursor: pointer;
}
.menuToggle i{
    font-size: 40px;
    color: #0f0f20;
}
.container{
    height: 30px;
    width: 30px;
    border:3px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    background: #fff;
    overflow: hidden;
    position: absolute;
    bottom: 20px;
    right: 20px;
    z-index: -1;
    transition: .5s, height .5s ,width .5s;
    transition-timing-function:cubic-bezier(0.075,.82,.165,1) ;
}
.menuToggle.active ~ .container{
    height: 500px;
    width: 350px;
    z-index: 1;
    transition-delay:0s, 0.5s,0.5s ;
    transform: translateY(-100px);
    border: 1px solid #ddd;;
}
.container::before{
    content: "";
    position: absolute;
    background: rgb(0 0 0 / 0%);
    height: 100px;
    width: 100px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    transition: .5s;
}
.menuToggle.active ~ .container::before{
    transition-delay:.5s ;
}
.container .top-part{
    height: 60px;
    background: #0f0f20;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 20px 20px 0 0;
}

.top-part .agent-details{
    display: flex;
    align-items: center;
}
.container .top-part .agent-details img{
    height: 40px;
    border: 2px solid #fff;
    border-radius: 50%;
    background: #fff;
}
.top-part .agent-text{
    margin-left: 10px;
}
.top-part i{
    cursor: pointer;
}
.agent-text h3 {
    font-size: 14px;
}
.agent-text p {
    font-size: 11px;
}
.agent-text span {
    color: #0f0;
}

.chart-section{
    position: relative;
    padding: 0 10px;
    height: 390px;
    overflow-y: scroll;

}
::-webkit-scrollbar {
    width: 5px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: rgb(255, 255, 255);
  }
  
  ::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 3px rgba(20, 20, 20, 0.3);
  }

 /* start chat section   */
  .chatbubble {
    display: inline-block;
    padding: 2px;
    font-size: 15px;
    line-height: 25px;
    margin: 5px 0;
    border-radius: 10px;
    clear: both;
    max-width: 270PX;
}
.chatbubble.you{
    float: left; 
}
.chatbubble.me{
    float: right;
}
.chatbubble-user p {
    font-size: 14px;
    color: #64748b;
    font-weight: 500;
}
.chatbubble.you .chatbubble-ms {
    background-color: #eff4fb;
    border-radius: 0px 16px 16px;
}
.chatbubble.you .chatbubble-ms p  {
    color:#64748b;
}
.chatbubble.me .chatbubble-ms {
    background-color:#3c50e0;
    border-radius: 6px 16px 0px;

}
.chatbubble.me .chatbubble-ms p  {
    color:#ffffff;
}
.chatbubble-ms {
    font-size: 16px;
    line-height: 24px;
    padding: 10px 20px;
    max-width: 260px;
}
.chatbubble-time p{
    color: #64748b;
    font-size: 12px;
    line-height: 18px;
}
.chatbubble.me  .chatbubble-time p{
    text-align: right;
}

.bottom-section {
    position: absolute;
    bottom: 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, .1);
    background: #ffffff;
    padding: 5px 5px;
}
.bottom-section i{
    color: #0f0f20;
    font-size: 30px;
    cursor: pointer;
}
.bottom-section textarea{
    height: 40px;
    width: 90%;
    color: #0f0f20;
    padding: 5px 5px 0 5px;
    resize: none;
    outline: none;
    border: none;
    text-transform: capitalize;
    overflow-y: hidden;
}
 /* start chat section   */

/* Entry into Chatbot Forms  */


/* .bottom-section {
    display: none;
} */

/* .entryform{
    display: none;
} */
.entryform {
    background: #c5c5c5;
    padding: 20px;
    height: 100%;
    
}
.entryform-info label{
    font-size: 14px;
    color: #0f0f20;
}
.entryform-info input, select {
    width: 100%;
    color: #0f0f20;
    padding: 10px 11px;
    border: 1px solid #0f0f209e;
    border-radius: 10px;
}
.entryform-info select option{
    color: #000;
}
.entryform-info  input[type="submit"] {
    background:#3d3d3d;
    color: #fff;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
}
.entryform-info  input[type="submit"]:hover{
    background:  #0f0f20;
    color: #fff;
}



/* Responsive CSS */

/* XL Device :1560px. */
@media screen and (min-width: 1499px) {
  
}


/* Medium Layout: 1200px. */

@media only screen and (min-width: 992px) and (max-width: 1200px) {
 
}


/* Tablet & Mobile Layout: 768px. */

@media only screen and (max-width: 991px) {
  
}


/* Mobile Layout: 320px. */

@media only screen and (max-width: 767px) {
    .menuToggle {
        right: 10px;
        bottom: 10px;

    }
    .container {
        bottom: 10px;
        right: 10px;
    }
    .menuToggle.active ~ .container {
        height: 400px;
        width: 300px;
    }
    .chart-section {
         height: 288px;
    }
    .entryform {
        overflow-y: scroll;
    }
    .entryform-info input, select {
        padding: 5px 11px;
    }
}


/* Wide Mobile Layout: 480px. */

@media only screen and (min-width: 480px) and (max-width: 767px) {
 
}